body {
	background-color: #ffffff;
	padding-top: 50px;
}


li>a:hover{
        background-color: #444444 !important;

}

.navbar, li>a{
	background-color: #333333 !important;
}

#map {
	height: 500px;
}

.location-window {
	text-align: center;
	font-size: 10pt;
	float: right;
}

.checkbox {
	padding-top: 10px;
	padding-right: 15px;
	color: #000000;

}

.checkbox-whole {
	float: left;
}
