body {
	background-color: #ffffff;
	padding-top: 50px;
}


li>a:hover{
        background-color: #444444 !important;

}


.navbar, li>a{
	/*background-image: url("assets/img/Banner.png") !important;*/
	background-color: #009100;
}

/*
.active {
	background-color: #009100;
}
*/

#map {
	height: 500px;
}

.location-window {
	text-align: center;
	font-size: 10pt;
	float: right;
}

.checkbox {
	padding-top: 10px;
	padding-right: 15px;
	color: #000000;

}

.checkbox-whole {
	float: left;
}

.navbar-fixed-top {
	background-image: url("assets/img/Banner.png") !important;
}

.navbar-nav {
	float: right;
}